@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.english{
  background-color: rgb(255, 0, 0);
}
.math{
  background-color: rgb(68, 67, 0);
}
.science{
  background-color: rgb(0, 80, 16);
}
.history{
  background-color: rgb(0, 41, 77);
}
.russian{
  background-color: rgb(77, 51, 62);
}
.physed{
  background-color: rgb(102, 69, 8);
}
.tech{
  background-color: rgb(89, 0, 255);
}
.nothing{
  background-color: rgb(96, 57, 24);
}
.principal{
  background-color: rgb(8, 76, 194);
}
.default{
  background-color: rgb(29, 34, 38);
}
