@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.english{
  background-color: rgb(234, 130, 130);
}
.math{
  background-color: rgb(232, 196, 130);
}
.science{
  background-color: rgb(180, 235, 170);
}
.history{
  background-color: rgb(135, 167, 195);
}
.russian{
  background-color: rgb(165, 111, 134);
}
.physed{
  background-color: rgb(111, 111, 145);
}
.tech{
  background-color: rgb(177, 142, 241);
}
.nothing{
  background-color: rgb(123, 85, 54);
}
.principal{
  background-color: rgb(230, 209, 145);
}
.default{
  background-color: rgb(29, 34, 38);
}
